<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traveller | Let's travel around the world</title>
    <!-- Page logo -->
    <link rel="icon" href="../assets/travel.png" type="image/png">
    <!-- Google fonts references -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <script>
        //Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performance
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>`;
</body>

</html>